:root {
   --konvert: url("../img/konvert.png");
   /*--trubka: url("../img/trubka.png");*/
   --trubka: url("../img/Phone.png");

   --fb1: url("../img/Facebook.png");
   --twit1: url("../img/Twitter.png");
   --inst1: url("../img/Instagram.png");

   --lupa1: url("../img/Lupa.png");

   --line1:  url("../img/Line_1.png");
   --line2:  url("../img/Line_2.png");

   --foto1:   url("../img/foto1.png");
   --foto2:   url("../img/foto2.png");

   --foto3:   url("../img/Brain.png");

   --foto4:   url("../img/schyt.png");
   --foto5:   url("../img/telik.png");


   --foto6:   url("../img/5.png");
   --foto7:   url("../img/6.png");
   --foto8:   url("../img/7.png");

   --foto9:   url("../img/Moreno1.png");
   --foto10:   url("../img/Moreno2.png");
   --foto11:   url("../img/Moreno3.png");

   --foto12:   url("../img/Randi.png");

   --foto13:   url("../img/Presentation.png");
   --foto14:   url("../img/Stolyk.png");

   --fb2: url("../img/Facebook_Bot.png");
   --twit2: url("../img/Twitter_Bot.png");
   --inst2: url("../img/Instagram_Bot.png");

   --strilka_up1: url("../img/strilka/1.png");
   --strilka_up2: url("../img/strilka/2.png");
   --strilka_up3: url("../img/strilka/3.png");
   --strilka_up4: url("../img/strilka/4.png");

   --strilka_down1: url("../img/strilka_vnyz.png");
   


--koefwidth1: 1.514792899;
--vysota1: 4195.97633023px;

--koefwidth2: 1.98816568;
--vysota2: 5507.2189336px;


   --overflow-y: auto;
/*   --imagefon: url("../img/background/spacew1.jpg");*/
   --top: 0%;
   --width: 90%;
   --height: 90%;
   --welcomefont: 1vw;
   --trans: 0.85;
   /*--fontsize: 1vmin;*/
   --kF: 0.9;
   --font-family: 'Poppins';

/*   --font-family: 'SF Pro Display', "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/


   --zsuv: 0%;
   --povorot: .0turn;
   /*--bgcolor: rgba(200, 230, 230);*/
   --bgcolor: rgba(255, 255, 255, 1);
   --osncolor: rgb(151, 199, 229);

   --fontsize: 1.25;
   --fontrozmir:  1.25vw;

   --rozmirgrafik: calc( var(--fontsize) * 4vw);
}

::-webkit-scrollbar { /* chrome based */
   width: 0px;  /* ширина scrollbar'a */
   background: transparent;  /* опционально */
}



*{
box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: rgb(80, 80, 80);
}


html {
   -ms-overflow-style: none;  /* IE 10+ */
   scrollbar-width: none; /* Firefox */

   scroll-behavior: smooth;   
}

body {
   width: 100vw;
   height: calc(100vw * (2770/845));

   /*height: 4195.97633023px;*/
/*   height: 5507.2189336px;*/

   line-height: 1;
   font-family: var(--font-family);

   font-size: 0.8vw;

   /*background: #6d6cbe;*/
   background: white;

/*   height: 100vh;*/
 
}


div{
   opacity: 1;
   transition: opacity 0.5s ease-out;
}


#container{
   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: column;
   
   /*background: #6cbeb0;*/
   background: white;

}

   header{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }
   .class_header_div{
      border: 0px solid rgb(38, 27, 145);
   }
   #d1{
      align-self: center;
      width: 85vw;
      display: flex;
      justify-content: space-between;
   }

      #d1_1{
         flex-basis: 24vw;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
         .class_konvert_trubka{
            flex-basis: 12vw;
            cursor: pointer;
            text-align: center;
            background-position: left;
            background-size: auto 0.80vw;
            background-repeat: no-repeat;
         }
         #konvert{
            background-image: var(--konvert);
         }
         #trubka{
            background-image: var(--trubka);
         }

      #d1_2{
         flex-basis: 17vw;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
         .class_messenger{
            cursor: pointer;
            width: 1.5vw;
            height: 1.5vw;
            background-position: left;
            background-size: auto 1.5vw;
            background-repeat: no-repeat;
         }
         #fb1{
            background-image: var(--fb1);
         }
         #twit1{
            background-image: var(--twit1);
         }
         #inst1{
            background-image: var(--inst1);
         }
         #mova{
            cursor: pointer;
            font-size: 0.8vw;
            background-color: rgba(255,255,255, 0);
            border: none;
         }
         
   #d2{
      align-self: center;
      width: 85vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
      #d2_1{
         align-self: center;
         width: 100%;
         height: 3.0vw;
         display: flex;
      }
         #logo{
            align-self: center;
            flex: 2;
            font-size: 1.6vw;
            font-weight: bold;
            color: black;
         }  
         nav{
            flex: 3.6;
            display: flex;
            justify-content: space-between;
            align-items: center;
         }
            .class_menu{
               font-size: 1vw;
               text-decoration: none;
               color: black;
            }
            .class_menu:hover{
               font-weight: bolder;
               color: maroon;
            }
            .class_menu:first-child{
               color: blue;
               font-weight: bold;
            }
         #gq{
            flex: 1.17;
            display: flex;
            justify-content: center;
         }  
            #get_quote{
               margin-left: 1.7vw;
               margin-bottom: 0.1vw;
               flex: 1;
               font-size: 1vw;
               font-weight: bold;
               color: rgb(0, 140, 255);

               background-color: rgba(255,255,255, 0);
               border-radius: 1.2vw;

               border: 0.15vw solid rgb(0, 140, 255);
               /*border-color: rgb(0, 140, 255);*/

               cursor: pointer;
            }
            #get_quote:hover{
               background-color: rgb(122, 193, 252);
               color: rgb(255, 237, 201);
            }
            #lupa1{
               flex: 0.35;
               height: 100%;
               background-position: right;
               background-size: 1.5vw auto;
               background-repeat: no-repeat;
               background-image: var(--lupa1);
               cursor: pointer;
            }

      #d2_2{
         visibility: hidden;
         align-self: flex-end;
         width: 60vw;
         height: 3.5vw;
         display: flex;
      }
         #poshuk{
            flex: 10;
            padding: 0 0.3vw;
            margin: 0;
            color: black;
            font-size: 1.2vw;
            border-radius: 0.5vw;
         }
         #lupa2{
            flex: 0.5;
            width: 2.5vw;
            height: 100%;
            background-position: right;
            background-size: 1.5vw auto;
            background-repeat: no-repeat;
            background-image: var(--lupa1);
            cursor: pointer;
         }
/* ======================================================================================================================= */
   main{
      flex: 20;
   }
      #block_content1{
         /*            transform: translate(17%, 15%);*/
         width: 100%;
         height: 13%;
         display: flex;
      }
         #sub_block1_content1{
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
         }

         #bc1_1{
            width: 80%;
            height: 75%;

            display: flex;
            flex-direction: column;
         }

            #bc1_1_p1{
               font-size: 3.7vw;
               /*font-size: 350%;*/
               font-weight: bolder;
               color: black;
               line-height: 1.25;
            }
            #bc1_1_p2{
               margin-top: 2vw;
               font-size: 1.3vw;
               line-height: 1.5;
            }

            #bc1_1_menu{
               margin-top: 3vw;
               display: flex;
               width: 63%;
               height: 4vw;
               display: flex;
               align-items: center;

            }
               #bc1_1_menu_input{
                  flex: 1;
                  height: 3.4vw;

                  font-size: 1.0vw;
                  font-weight: bold;

                  color: white;
                  background-color: rgb(26%, 44%, 93%);
                  border-radius: 25vw;
                  border: none;
                  cursor: pointer;
               }
               #bc1_1_menu_input:hover{
                  background-color: rgb(36%, 54%, 103%);
                  color: maroon;
               }
               #a_our_service{
                  flex: 1;
                  padding: 0.3vw;
                  text-align: center;
                  text-decoration: none;
                  font-size: 1.0vw;
                  color: blue;


                  background-image: var(--strilka_down1);
                  background-position: right 1vw bottom 0;
                  background-size: contain;
                  background-repeat: no-repeat;

               }
               #a_our_service:hover{
                  color: maroon;
                  font-weight: 900;
               }



         #sub_block2_content1{
            position: relative;
            flex:1.05;
            display: flex;

            direction: rtl; /* Напрямок блоків справа -> наліво */

         }

            #bc2_1{
               position: absolute;
               
               width: 59%;
               height: 96%;

               background: linear-gradient(45deg, rgb(90, 50, 245) 0%, rgb(142, 123, 215) 20%, rgb(216, 119, 188) 45%,
               rgb(250, 200, 160) 95%);
               /*border-radius: 35px 0 0 35px;*/
               border-radius: 2.5vw 0 0 2.5vw;

            }       

            #bc2_2{
               position: absolute;
               left: 0.5vw;
               top: 4vw;

               width: 50vw;
               height: 25vw;

               background-image: var(--foto1);
               background-position: center;
               background-size: contain;
               background-repeat: no-repeat;
               /*border-radius: 25px;*/
               border-radius: 2.5vw;


               /*border: 10px solid rgb(218, 216, 216);*/
            }
              

            #bc2_3{
               direction:ltr; /* Напрямок блоків зліва -> направо */

               position: absolute;
               top: 20vw;
               left: 0vw;

               display: flex;

               width: 17vw;
               height: 7vw;

               background-color: rgb(255, 255, 255);

               box-shadow:
               0 2.8px 2.2px rgba(0, 0, 0, 0.034),
               0 6.7px 5.3px rgba(0, 0, 0, 0.048),
               0 12.5px 10px rgba(0, 0, 0, 0.06),
               0 22.3px 17.9px rgba(0, 0, 0, 0.072),
               0 41.8px 33.4px rgba(0, 0, 0, 0.086),
               0 100px 80px rgba(0, 0, 0, 0.12)
               ;
               border-radius: 1.5vw;
            }                 

            /* ===============================================================================================   */
               /*
               #id_div_svg_grafik1{
                  flex: 0.75;
               }
               #id_svg_grafik1{
                  font-family: var(--font-family);
                  font-size: var(--fontrozmir);
               }
               */

               /* ================================================================================================  */
               #grafik_container{
                  position: absolute;
                  left: 1.4vw;
                  top: 1.2vw;
                  
                  width: var(--rozmirgrafik);
                  height: var(--rozmirgrafik);

                  display: flex;
                  justify-content: center;
                  align-items: center;
                  /*                  
                     justify-items: center;
                     align-content: center;
                  */
                  background-color: var(--bgcolor);
               }
               #grafik_zalyvka{
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  border-radius: 50vw;
                  background: conic-gradient(from 0deg,
                                 rgb(250, 200, 160) 0%,
                                 rgb(247, 186, 123) 15%,
                                 rgb(216, 119, 188) 20%,
                                 rgb(216, 119, 188) 40%,
                                 rgb(142, 123, 215) 45%,
                                 rgb(142, 123, 215) 65%,
                                 rgb(216, 119, 188) 70%,
                                 rgb(216, 119, 188) 90%,
                                 rgb(247, 186, 123) 95%,
                                 rgb(250, 200, 160) 100%
                              );
               }
               #grafik_zalyvka::after{
                  content: "";
                  position: absolute;
                  left: 0.25vw;
                  top: 0.25vw;
                  width: 90%;
                  height: 90%;
                  border-radius: 50vw;
                  background-color: var(--bgcolor);
               }
               #grafik_osnova{
                  position: absolute;
                  left: 0%;
                  top: 0%;
                  width: 100%;
                  height: 100%;
                  background: conic-gradient(from 0deg at 50% 50%,
                                 var(--osncolor) calc(100% - var(--zsuv)),
                                 transparent calc(100% - var(--zsuv)));
                  transform: rotate(var(--povorot));
                  border-radius: 50vw;
               }
               #grafik_kolo{
                  width: 96%;
                  height: 96%;
                  background: conic-gradient(from 0deg at 50% 50%,
                                 var(--bgcolor) calc(100% - var(--zsuv)),
                                 transparent calc(100% - var(--zsuv)));
                  transform: rotate(var(--povorot));
                  border-radius: 50vw;
               }
               #grafik_text {
                  position: absolute;
                  text-align: center;
                  width: 100%;
                  /*font-family: Roboto, Arial, sans-serif;*/
                  font-family: var(--font-family);
                  font-size: var(--fontrozmir);
                  font-weight: bolder;
                  background-image: linear-gradient(45deg,
                                 rgb(142, 123, 215) 20%,
                                 rgb(216, 119, 188) 50%,
                                 rgb(250, 200, 160) 80%
                                 );
                  background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
               }
               /* ========================================================================================= */ 
               #bc2_3_div{
                  flex: 1;
/*                  
                  position: absolute;

                  left: 7vw;
                  width: 9vw;
                  height: 100%;
*/
                  display: flex;
                  flex-direction: column;
                  justify-content: center;

               }
                  #bc2_3_div_p1{
                     line-height: 1.75;
                     font-size: 1vw;
                     font-weight: bold;
                  }
                  #bc2_3_div_p2{
                     font-size: 0.7vw;
                  }          

/*   -----------------------------------------------------  */
      #block_content2{
         width: 100%;
         height: 54vw;
         display: flex;
         /*background-color: aquamarine;*/
         /*border: 1px solid blue;*/
      }

      #sub_block1_content2{
         position: relative;
         flex: 0.8;
         /*border: 1px solid;*/
      }
         #sb1c2_1{
            position: absolute;
            transform: translate(0px, -3vw);
            width: 39vw;
            height: 46vw;

            background-image: var(--line1);
            background-size: contain;
            background-position: top -1vw left -2vw;
            background-repeat: no-repeat;

            /*border: 1px solid;*/

         }

         #sb1c2_2{
            position: absolute;
            left: 10vw;
            top: 9vw;
            width: 28vw;
            height: 34vw;

            background-image: var(--foto2);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            /*background-color: white;*/

            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
            ;

            border-radius: 2.5vw;


            border: 0px solid red;

         }
         #sb1c2_3{
            position: absolute;
            padding: 1.0vw 2.3vw;

            top: 18vw;
            left: 31vw;

            width: 13.5vw;
            height: 16vw;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;


            background-color: white;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
            ;
            /*border-radius: 15px;*/
            border-radius: 1.5vw;

            /*border: 10px solid;*/
         }

         #sb1c2_3_div1{
            flex: 1;
            width: 4vw;

            background-image: var(--foto3);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
         }

         #sb1c2_3_p1{
            margin: 5px 0;
            flex: 2;
            width: 100%;

            opacity: 1;
            transition: opacity 0.33s ease-out;

            /*height: 5vw;*/


            /**font-size: clamp(8px, 10px, 10px);*/


            font-size: 1.0vw;
            line-height: 1.3;

            /*font-size: 120%;*/

            
            /*text-justify:distribute;*/
            /*font-weight: bold;*/
            /*line-height: 1.3;*/
            
            overflow: hidden;

            border: 0px solid;
         }

         #sb1c2_3_div2{
            flex: 0.15;
            width: 5vw;



            display: flex;

            justify-content:space-between;
            align-items: stretch;
         }
         .class_ryska{
            cursor: pointer;
            width: 40%;
            height: 100%;
         }
         #sb1c2_3_span1{
            background-color: blue;
         }

         #sb1c2_3_span2{
            background-color: grey;
         }

      #sub_block2_content2{
         flex: 1;
         position: relative;
      }

      #sb2c2{
         position: absolute;
         top: 14.4vw;
         left: 8vw;

         width: 33vw;
         height: 23vw;

         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: space-between;
      }
      #sb2c2_p1{
         color: black;
         font-size: 2.8vw;
         font-weight: bold;
         line-height: 1.25;
      }
      #sb2c2_p2{
         font-size: 1.0vw;
         line-height: 1.3;
      }

      #sb2c2_input{
         cursor: pointer;
         height: 3.5vw;
         width: 11vw;
         font-size: 1.0vw;
         color: white;
         background-color: rgb(26%, 44%, 93%);
         border-radius: 25px;
         border: none;
      }            
      #sb2c2_input:hover{
         background-color: rgb(36%, 54%, 103%);
         color: maroon;         
      }            

/*   -----------------------------------------------------  */
#block_content3{
   width: 100vw;
   height: 31.5vw;
   display: flex;
   justify-content: center;
}

   #sub_block_content3{
      position: relative;
      width: 78vw;

      /*display: inline-flex;*/
      display: flex;

      background: linear-gradient(45deg, rgb(90, 50, 245) 0%, rgb(142, 123, 215) 20%, rgb(216, 119, 188) 45%,
      rgb(250, 200, 160) 95%);
      /*border-radius: 35px;*/
      border-radius: 2.5vw;

   }
      #sbc3_1{
         flex: 1;
         /*margin: 10% 0 10% 10%;*/
         display: flex;
         flex-direction: column;
         /*justify-content: space-between;*/
      }
         #sbc3_1_p{
            position: absolute;
            left: 10vw;
            top: 7vw;
            color: white;
            font-size: 3vw;
            font-weight: bold;
            line-height: 1.25;
         }
         #sbc3_1_input{
            position: absolute;

            left: 10vw;
            top: 21vw;

            height: 3.5vw;
            width: 10vw;

            font-size: 1.0vw;

            color: white;
            /*font-weight: bold;*/
            background-color: rgb(26%, 44%, 93%);
            border-radius: 1.5vw;
            border: none;
            cursor: pointer;
         }
         #sbc3_1_input:hover{
            background-color: rgb(36%, 54%, 103%);
            color: maroon;         
         }


      #sbc3_2{
         flex: 0.88;
         position: relative;
         display: flex;
         flex-wrap: wrap;
      }

         #sbc3_2_1{
            position: absolute;
            top: 3.5vw;
            height: 10vw;
            width: 15vw;

            display: flex;
            flex-direction: column;
            /*justify-content: space-evenly;*/
            /*justify-content: space-around;*/
            justify-content: space-between;
         }
            #sbc3_2_1_div{
               width: 3.3vw;
               height: 3.3vw;

               background-color: white;

               background-image: var(--foto4);
               background-position: center;
               background-size: 2vw;
               background-repeat: no-repeat;

               border-radius: 0.5vw;
               border: 2px solid white;
            }
            #sbc3_2_1_p1{
               font-size: 1.4vw;
               font-weight: bold;
               color: white;
            }
            #sbc3_2_1_p2{
               line-height: 1.4;
               color: white;
            }


         #sbc3_2_2{
            position: absolute;
            top: 3.5vw;
            left: 15vw;
            height: 10vw;
            width: 15vw;

            display: flex;
            flex-direction: column;
            /*justify-content: space-evenly;*/
            /*justify-content: space-around;*/
            justify-content: space-between;
         }
   
            #sbc3_2_2_div{
               width: 3.3vw;
               height: 3.3vw;

               background-color: white;

               background-image: var(--foto5);
               background-position: center;
               background-size: 2vw;
               background-repeat: no-repeat;

               border-radius: 0.5vw;
               border: 2px solid white;
            }
            #sbc3_2_2_p1{
               font-size: 1.4vw;
               font-weight: bold;
               color: white;
            }
            #sbc3_2_2_p2{
               line-height: 1.4;
               color: white;
            }

     
      #sbc3_2_3{
         position: absolute;
         top: 17vw;
         height: 10vw;
         width: 15vw;

         display: flex;
         flex-direction: column;
         /*justify-content: space-evenly;*/
         /*justify-content: space-around;*/
         justify-content: space-between;
      }
         #sbc3_2_3_div{
            width: 3.3vw;
            height: 3.3vw;

            background-color: white;

            background-image: var(--foto5);
            background-position: center;
            background-size: 2vw;
            background-repeat: no-repeat;

            border-radius: 0.5vw;
            border: 2px solid white;
         }
         #sbc3_2_3_p1{
            font-size: 1.4vw;
            font-weight: bold;
            color: white;
         }
         #sbc3_2_3_p2{
            line-height: 1.4;
            color: white;
         }


      #sbc3_2_4{
         position: absolute;
         top: 17vw;
         left: 15vw;
         height: 10vw;
         width: 15vw;

         display: flex;
         flex-direction: column;
         /*justify-content: space-evenly;*/
         /*justify-content: space-around;*/
         justify-content: space-between;
      }

      #sbc3_2_4_div{
         width: 3.3vw;
         height: 3.3vw;

         background-color: white;

         background-image: var(--foto4);
         background-position: center;
         background-size: 2vw;
         background-repeat: no-repeat;

         border-radius: 0.5vw;
         border: 2px solid white;
      }
      #sbc3_2_4_p1{
         font-size: 1.4vw;
         font-weight: bold;
         color: white;
      }
      #sbc3_2_4_p2{
         line-height: 1.4;
         color: white;
      }

/*   -----------------------------------------------------  */
#block_content4{
   /*transform: translate(0px, 0%);*/
   
   width: 100vw;
   height: 67vw;
   display: flex;
   justify-content: center;
}

   #sub_block_content4{
      position: relative;

      width: 80vw;
      display: flex;
      flex-direction: column;
   }
   #ssbc4_1{
      flex:1;
      display: flex;
      align-items: flex-end;
   }
   #ssbc4_2{
      flex:1;
      display: flex;
      align-items: flex-start;
   }

      #b1c4{
         margin-bottom: 1vw;
         padding: 1vw;

         width: 38vw;
         height: 21vw;

         display: flex;
         flex-direction: column;

         background-color: white;
         box-shadow:
         0 2.8px 2.2px rgba(0, 0, 0, 0.034),
         0 6.7px 5.3px rgba(0, 0, 0, 0.048),
         0 12.5px 10px rgba(0, 0, 0, 0.06),
         0 22.3px 17.9px rgba(0, 0, 0, 0.072),
         0 41.8px 33.4px rgba(0, 0, 0, 0.086),
         0 100px 80px rgba(0, 0, 0, 0.12)
         ;
         border-radius: 1vw;
      }
         #b1c4_div{
            width: 100%;
            height: 100%;
            background-image: var(--foto6);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 1vw;
         }
         #b1c4_p1{
            margin: 1vw 0 0 1.5vw;
            font-size: 1.2vw;
            font-weight: bolder;
         }
         #b1c4_p2{
            margin: 0 0 0 1.5vw;
            font-size: 0.7vw;
            line-height: 3.5;
         }

      #b2c4{
         margin: 1vw 0 1vw 3vw;
         padding: 3vw 3vw 3vw 5vw;

         width: 38vw;
         height: 21vw;

         display: flex;
         flex-direction: column;
         justify-content: space-between;
         background-color: white;

         border-radius: 1vw;

      }
         #b2c4_p{
            font-size: 2.8vw;
            font-weight: bold;
            line-height: 1.25;
         }
         #b2c4_input{
            margin-bottom: 1.7vw;
            cursor: pointer;
            height: 3.2vw;
            width: 11vw;

            font-size: 1.0vw;

            color: white;
            background-color: rgb(26%, 44%, 93%);
            /*border-radius: 25px;*/
            border-radius: 1.5vw;

            border: none;

            /*border: 10px solid;*/
         }
         #b2c4_input:hover{
            background-color: rgb(36%, 54%, 103%);
            color: maroon;
         }


      #b3c4{
         margin-top: 1vw;
         padding: 1vw;

         width: 38vw;
         height: 21vw;

         display: flex;
         flex-direction: column;

         background-color: white;
         box-shadow:
         0 2.8px 2.2px rgba(0, 0, 0, 0.034),
         0 6.7px 5.3px rgba(0, 0, 0, 0.048),
         0 12.5px 10px rgba(0, 0, 0, 0.06),
         0 22.3px 17.9px rgba(0, 0, 0, 0.072),
         0 41.8px 33.4px rgba(0, 0, 0, 0.086),
         0 100px 80px rgba(0, 0, 0, 0.12)
         ;
         border-radius: 1vw;
      }
         #b3c4_div{
            width: 100%;
            height: 100%;
            background-image: var(--foto7);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 1vw;
         }
         #b3c4_p1{
            margin: 1vw 0 0 1.5vw;
            font-size: 1.2vw;
            font-weight: bolder;
            line-height: 0.6;

         }
         #b3c4_p2{
            margin: 0 0 0 1.5vw;
            font-size: 0.7vw;
            line-height: 3.2;
         }



      #b4c4{

         margin: 1vw 0 1vw 3vw;
         padding: 3vw 3vw 3vw 5vw;


         margin-top: 1vw;
         padding: 1vw;

         width: 38vw;
         height: 21vw;

         display: flex;
         flex-direction: column;

         background-color: white;
         box-shadow:
         0 2.8px 2.2px rgba(0, 0, 0, 0.034),
         0 6.7px 5.3px rgba(0, 0, 0, 0.048),
         0 12.5px 10px rgba(0, 0, 0, 0.06),
         0 22.3px 17.9px rgba(0, 0, 0, 0.072),
         0 41.8px 33.4px rgba(0, 0, 0, 0.086),
         0 100px 80px rgba(0, 0, 0, 0.12)
         ;
         border-radius: 1vw;
      }
         #b4c4_div{
            width: 100%;
            height: 100%;
            background-image: var(--foto8);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 1.4vw;
         }
         #b4c4_p1{
            margin: 1vw 0 0 1.5vw;
            font-size: 1.2vw;
            font-weight: bolder;
            line-height: 0.6;
         }
         #b4c4_p2{
            margin: 0 0 0 1.5vw;
            font-size: 0.7vw;
            line-height: 3.2;
         }

/*   -----------------------------------------------------  */
#block_content5{
   /*transform: translate(0px, 0%);*/

   width: 100vw;
   height: 70vw;
   display: flex;
   justify-content: center;

   background-image: var(--line2);
   background-position: top 14vw right -0.9vw;
   background-repeat: no-repeat;
   background-size: 40vw;

}
   #sub_block_content5{
      position: relative;
      /*margin: 0 0 0 12%;*/
      width: 80vw;
      display: flex;
      flex-direction: column;
   }
   #bc5_h1{
      color: black;
      font-size: 2.8vw;
      font-weight: bold;
      line-height: 0.8;
   }

   #sbc5_div1{
      position: absolute;
      top: 6vw;
      height: 13vw;

      display: flex;
      justify-content: space-between;
   }

      #sbc5_div1_1{
         flex-basis: 31%;
         /*margin: 0 3% 0 0;*/
         padding: 2.5%;
         display: flex;
         align-items: stretch;

         background-color: white;
         box-shadow:
         0 2.8px 2.2px rgba(0, 0, 0, 0.034),
         0 6.7px 5.3px rgba(0, 0, 0, 0.048),
         0 12.5px 10px rgba(0, 0, 0, 0.06),
         0 22.3px 17.9px rgba(0, 0, 0, 0.072),
         0 41.8px 33.4px rgba(0, 0, 0, 0.086),
         0 100px 80px rgba(0, 0, 0, 0.12)
         ,0px -5px 100px rgba(0, 0, 0, 0.05)
         ;
         /*border-radius: 15px;*/
         border-radius: 1vw;


         
      }
         #sbc5_div1_1_foto{
            flex:1;
            background-image: var(--foto9);
            background-position: left center;
            background-size: contain;
            background-repeat: no-repeat;
         }
         #sbc5_div1_1_content{
            margin-left: 5%;
            flex:2.5;
            display: flex;
            flex-direction: column;
            justify-content:space-around;

         }
            #sbc5_div1_1_p1{
               line-height: 1.5;
            }
            #sbc5_div1_1_p2{
               line-height: 2;
               font-weight: bold;
               color: black;
            }



      #sbc5_div1_2{
         flex-basis: 31%;
         /*margin: 0 3% 0 0;*/
         padding: 2.5%;
         display: flex;
         align-items: stretch;
         background-color: white;
         box-shadow:
         0 2.8px 2.2px rgba(0, 0, 0, 0.034),
         0 6.7px 5.3px rgba(0, 0, 0, 0.048),
         0 12.5px 10px rgba(0, 0, 0, 0.06),
         0 22.3px 17.9px rgba(0, 0, 0, 0.072),
         0 41.8px 33.4px rgba(0, 0, 0, 0.086),
         0 100px 80px rgba(0, 0, 0, 0.12)
         ,0px -5px 100px rgba(0, 0, 0, 0.05)
         ;
         /*border-radius: 15px;*/
         border-radius: 1vw;

      }
         #sbc5_div1_2_foto{
            flex:1;
            background-image: var(--foto10);
            background-position: left center;
            background-size: contain;
            background-repeat: no-repeat;
         }
         #sbc5_div1_2_content{
            margin-left: 5%;
            flex:2.5;
            display: flex;
            flex-direction: column;
            justify-content:space-around;

         }
            #sbc5_div1_2_p1{
               line-height: 1.5;
            }
            #sbc5_div1_2_p2{
               line-height: 2;
               font-weight: bold;
               color: black;
            }


            #sbc5_div1_3{
               flex-basis: 31%;
               padding: 2.5%;
               display: flex;
               align-items: stretch;
               background-color: white;
               box-shadow:
               0 2.8px 2.2px rgba(0, 0, 0, 0.034),
               0 6.7px 5.3px rgba(0, 0, 0, 0.048),
               0 12.5px 10px rgba(0, 0, 0, 0.06),
               0 22.3px 17.9px rgba(0, 0, 0, 0.072),
               0 41.8px 33.4px rgba(0, 0, 0, 0.086),
               0 100px 80px rgba(0, 0, 0, 0.12)
               ,0px -5px 100px rgba(0, 0, 0, 0.05)
               ;
               /*border-radius: 15px;*/
               border-radius: 1vw;

            }
               #sbc5_div1_3_foto{
                  flex:1;
                  background-image: var(--foto11);
                  background-position: left center;
                  background-size: contain;
                  background-repeat: no-repeat;
               }
               #sbc5_div1_3_content{
                  margin-left: 5%;
                  flex:2.5;
                  display: flex;
                  flex-direction: column;
                  justify-content:space-around;

               }
                  #sbc5_div1_3_p1{
                     line-height: 1.5;
                  }
                  #sbc5_div1_3_p2{
                     line-height: 2;
                     font-weight: bold;
                     color: black;
                  }


   #sbc5_div2{
      position: absolute;
      top: 32vw;
      height: 24vw;

      display: flex;
      justify-content: space-between;
   }
      #sbc5_div2_1{
         flex: 1;
         padding-left:  4.5vw;

         margin-right: 4vw;
         display: flex;
         flex-direction: column;

         justify-content: space-evenly;

         background-color: white;
         box-shadow:
         0 2.8px 2.2px rgba(0, 0, 0, 0.034),
         0 6.7px 5.3px rgba(0, 0, 0, 0.048),
         0 12.5px 10px rgba(0, 0, 0, 0.06),
         0 22.3px 17.9px rgba(0, 0, 0, 0.072),
         0 41.8px 33.4px rgba(0, 0, 0, 0.086),
         0 100px 80px rgba(0, 0, 0, 0.12)
         ,0px -5px 100px rgba(0, 0, 0, 0.05)
         ;
         border-radius: 1vw;
      }
         #sbc5_div2_1_p1{
            font-size: 1.4vw;
            font-weight: bolder;
            /*line-height: 2;*/
         }

         #sbc5_div2_1_p2{
            margin-right: 3vw;
            font-size: 1vw;
            line-height: 1.5;
         }

         #sbc5_div2_1_div{
            margin-right: 5vw;
            height: 4vw;
            display: flex;
         }
            #sbc5_div2_1_div_foto{
               flex-basis: 5vw;
               background-image: var(--foto12);
               background-position: left center;
               background-size: contain;
               background-repeat: no-repeat;
            }
            #sbc5_div2_1_div_1{
               flex-basis: 20vw;
               display: flex;
               flex-direction: column;
               justify-content:space-evenly;
               align-items: flex-start;
            }
               #sbc5_div2_1_div_p1{
                  font-size: 1vw;
                  font-weight: bold;
               }
               #sbc5_div2_1_div_p2{
                  color: rgb(100, 100, 100);
               }

            #sbc5_div2_1_div_2{
               flex-basis: 8vw;
               display: flex;
               align-items: center;
               justify-content: space-around;
            }
               .class_krapka{
                  cursor: pointer;
                  width: 0.7vmax;
                  height: 0.7vmax;
                  background-color: rgba(50, 50, 255, 1);
                  border-radius: 50vw;
               }



      #sbc5_div2_2{
         flex: 1;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

      }
         #sbc5_div2_2_p{
            font-size: 2.7vw;

            color: black;

            font-weight: bold;
            line-height: 1.5;
         }


         #sbc5_div2_2_1{
            flex: 1;
            display: flex;
            align-items: center;
         }
            #sbc5_div2_2_1_foto{
               height: 7vw;
               flex: 1.7;
               background-image: var(--foto13);
               background-position: center;
               background-size: contain;
               background-repeat: no-repeat;
            }
            #sbc5_div2_2_1_content{
               flex: 3;
               height: 5vw;
               display: flex;
               flex-direction: column;
               justify-content: space-around;
            }
               #sbc5_div2_2_1_content_div{
                  display: flex;
               }
                  #sbc5_div2_2_1_content_div_p1{
                     font-size: 0.8vw;
                     margin-left: 1vw;
                     font-weight: bold;
                     color: blue;
                  }
                  #sbc5_div2_2_1_content_div_p2{
                     margin-left: 1vw;
                     font-weight: bold;
                     color: blue;
                  }
               #sbc5_div2_2_1_content_p{
                  font-size: 1vw;
                  margin-left: 1vw;
                  line-height: 1.7;
               }



         #sbc5_div2_2_2{
            flex: 1;
            display: flex;
            align-items: center;
         }
            #sbc5_div2_2_2_foto{
               height: 7vw;
               flex: 1.7;
               background-image: var(--foto14);
               background-position: center;
               background-size: contain;
               background-repeat: no-repeat;
            }
            #sbc5_div2_2_2_content{
               flex: 3;
               height: 5vw;
               display: flex;
               flex-direction: column;
               justify-content: space-around;
            }
               #sbc5_div2_2_2_content_div{
                  display: flex;
               }
                  #sbc5_div2_2_2_content_div_p1{
                     font-size: 0.8vw;
                     margin-left: 1vw;
                     font-weight: bold;
                     color: blue;
                  }
                  #sbc5_div2_2_2_content_div_p2{
                     margin-left: 1vw;
                     font-weight: bold;
                     color: blue;
                  }
               
               #sbc5_div2_2_2_content_p{
                  font-size: 1vw;
                  margin-left: 1vw;
                  line-height: 1.7;
               }
/*   ------------------------------------------------------------------- */
#block_content6{
   width: 100vw;
   height: 20vw;
   display: flex;
   justify-content: center;

   background: linear-gradient(15deg, rgb(90, 50, 255) 0%, rgb(142, 123, 215) 20%, rgb(216, 119, 188) 45%,
   rgb(250, 200, 160) 95%);
}
   #sub_bc6{
      flex-basis: 62vw;
      display: flex;
      align-items: center;
      justify-content:space-between;
   }
   #bc6_p{
      margin-left: 1vw;
      flex: 6;
      color: white;
      font-size: 2.75vw;
      font-weight: bold;
      line-height: 1.4;
   }

   #bc6_input{
      flex: 1.7;
      height: 4vw;

      font-size: 1.0vw;
      font-weight: bold;

      color: white;
      background-color: rgb(26%, 44%, 93%);
      /*border-radius: 25px;*/
      border-radius: 1.5vw;

      border: none;
      cursor: pointer;

   }
   #bc6_input:hover{
      background-color: rgb(36%, 54%, 103%);
      color: maroon;
   }
/*   ------------------------------------------------------------------- */







/* ======================================================================================================================= */
footer{
      flex: 2.5;
      display: flex;
      align-items: center;
      justify-content: center;
}
   #subfooter{
      position: relative;
      width: 75vw;
      height: 15vw;
      display: flex;
      justify-content: space-between;
   }
      #sf1{
         flex:1.7;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
         #sf1_p1{
            font-size: 1.4vw;
            color: black;
            font-weight: bold;
         }
         #sf1_p2{
            font-size: 1.1vw;
            line-height: 1.6;
         }

         #sf1_1{
            width: 8vw;
            height: 1.5vw;
            display: flex;
            justify-content: flex-start;
         }
            .class_socnet{
               flex:1;            
               cursor: pointer;
               background-position: left;
               background-size: contain;
               background-repeat: no-repeat;
            }
            #fb2{
               background-image: var(--fb2);
            }
            #twit2{
               background-image: var(--twit2);
            }
            #inst2{
               background-image: var(--inst2);
            }

      #sf2{
         flex:1;
         height: 10vw;
         display: flex;
         flex-direction: column;
         justify-content: space-between; 
      }
         #sf2_p{
            font-size: 1.4vw;
            color: black;
            font-weight: bold;
         }

         #sf2_a1, #sf2_a2, #sf2_a3{
            cursor: pointer;
            width: fit-content;
            font-size: 1.1vw;
            text-decoration: none;
            color: rgb(100, 100, 100);
         }

      #sf3{
         flex:1;
         height: 10vw;
         display: flex;
         flex-direction: column;
         justify-content: space-between; 
      }
         #sf3_p1{
            font-size: 1.4vw;
            color: black;
            font-weight: bold;
         }
         #sf3_p2{
            font-size: 1.1vw;
         }
            #sf3_span{
               font-size: 1.1vw;
               text-decoration: none;
               color: black;
            }
         #sf3_p3{
            font-size: 1.1vw;
         }
            #sf3_a_tel{
               font-size: 1.1vw;
               text-decoration: none;
               color: black;
            }
         #sf3_p4{
            font-size: 1.1vw;
         }
            #sf3_a_mail{
               font-size: 1.1vw;
               text-decoration: none;
               color: black;
            }

#vgoru{
   visibility: hidden;
   position: fixed;
   bottom: 0;
   right: 0;
   width: 3vw;
   height: 3vw;

   background-image: var(--strilka_up4);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}
.class_link{
   position: absolute; 
   margin-top:-3vw;
}
/*
.class_link:target{
   width: 100px;
   height: 100px;
   border-color: brown;
}
*/